<!DOCTYPE html>
<html id="ng-app" ng-app="ngMainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../Resource/app/styles/select.css" rel="stylesheet" />
    <link href="../Resource/common/styles/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../Resource/common/styles/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../Resource/common/styles/font-awesome/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div id="divContent">
        <div ng-controller="selectController">
            <div class="container-fluid">
                <p id="city">
                    {{city}}
                </p>
                <city-select city="city">
                </city-select>
            </div>
        </div>
    </div>
    <script src="../Resource/common/scripts/jquery/jquery.min.js"></script>
    <script src="../Resource/common/scripts/angularjs/angular.min.js"></script>
    <script src="../Resource/common/scripts/angularjs/angular-route.min.js"></script>
    <script src="../Resource/common/scripts/angularjs/angular-resource.min.js"></script>
    <script src="../Resource/app/scripts/app.js"></script>
    <script src="../Resource/app/scripts/directive.js"></script>
    <script src="../Resource/app/scripts/city/services/cityService.js"></script>
    <script src="../Resource/app/scripts/bank/services/bankService.js"></script>
</body>
</html>
