<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!--<link href="../Resource/common/styles/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../Resource/common/styles/bootstrap/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../Resource/common/styles/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="../Resource/common/styles/bootstrap/bootstrap-combined.min.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="../Resource/common/styles/font-awesome/font-awesome-ie7.min.css">
    <![endif]-->

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <button data-target="#downloadModal" class="btn btn-primary" data-toggle="modal" role="button">
                <i class="icon-chevron-down icon-white"></i>
                下载
            </button>
        </div>
    </div>
    <div aria-hidden="true" class="modal fade" role="dialog" tabindex="-1" id="downloadModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">
                标题栏
            </h3>
        </div>
        <div class="modal-body">
            <p >
                显示信息
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary">保存设置</button>
        </div>
    </div>
    <script src="../Resource/common/scripts/jquery/jquery.min.js"></script>
    <script src="../Resource/common/scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
